/* ===== NAVBAR ===== */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 28px 80px;
  background-color: #f7f5ef;

  z-index: 30; /* higher than overlay */
  border-bottom: 0.5px solid #2e2e2e25;
}

.navbar__logo {
  font-size: 22px;
  font-weight: 700;
}

.navbar__logo span {
  font-size: 12px;
  vertical-align: super;
}

/* DESKTOP NAV */
.navbar__nav {
  display: flex;
  gap: 36px;
}

.navbar__nav a,
.navbar__dropdown {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.navbar__nav a:hover {
  opacity: 0.6;
}

/* MOBILE MENU BUTTON */
.navbar__menu {
  display: none;
  background: none;
  border: none;
  font-size: 26px;
  cursor: pointer;
}

/* ===== MOBILE SIDEBAR ===== */
.nav__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 40;
}

.nav__overlay.show {
  opacity: 1;
  pointer-events: all;
}

.mobile__nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 320px;
  background: #000;
  color: #fff;
  padding: 40px 30px;
  transform: translateX(100%);
  transition: transform 0.4s ease;
  z-index: 50;
}

.mobile__nav.open {
  transform: translateX(0);
}

/* CLOSE BUTTON */
.mobile__close {
  position: absolute;
  top: 24px;
  right: 24px;
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
}

/* LINKS */
.mobile__links {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
}

.mobile__links a,
.mobile__projects {
  padding: 18px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ===== RESPONSIVE ===== */
@media (max-width: 1024px) {
  .navbar__nav {
    display: none;
  }

  .navbar__menu {
    display: block;
  }

  .navbar {
    padding: 24px;
  }
}
