@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
  --font-geist: 'Geist', sans-serif;
  --bg-main: #f7f5ef;
  --color-text: #000;
  --bg-secondary: #000;
  --color-secondary: #fff;
  --max-width: 1420px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-geist), system-ui, sans-serif;
  background: #f7f5ef;
  color: #000;
  padding-top: 96px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

.main_title {
  font-size: 160px;
  font-weight: 900;
  text-align: center;
  margin-top: 120px;
  letter-spacing: -6px;
}

.notfound {
  min-height: 100vh;
  background-color: #f7f5ef;
  display: grid;
  place-items: center;
  padding: 80px;
}

.notfound__content {
  text-align: center;
  max-width: 600px;
}

/* BIG 404 */
.notfound__code {
  font-size: 200px;
  font-weight: 900;
  letter-spacing: -8px;
  line-height: 1;
  display: block;
  margin-bottom: 20px;
}

/* TITLE */
.notfound__content h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 16px;
}

/* TEXT */
.notfound__content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 40px;
}

/* BUTTON */
.notfound__btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 14px 28px;
  border-radius: 8px;
  border: 1px solid #000;
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.notfound__btn:hover {
  background: #000;
  color: #fff;
}
